<!DOCTYPE html>
<html>
<head>
  <title>Gift for Kanpur -delivery for cake, chocolate, flowers, gifts, paintings, Boquet, printed tshirt, printed mug, key chain. Gifts for all festivals, holi, dewali, rakshabandhan, valentineDay, eid, Christmas and All</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
