<!DOCTYPE html>
<html>
<head>
  <title>Gift for Kanpur -sameday delivery for cake, chocolate, flowers, gifts, paintings, Bouquet, printed tshirt, printed mug, key chain,custom gifts. Gifts for all festivals, holi, dewali, rakshabandhan, valentineDay, eid, Christmas and All</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
 <meta name="description" content="Gift for Kanpur -sameday delivery for cake, chocolate, flowers, gifts, paintings, Bouquet, printed tshirt, printed mug, key chain,custom gifts. Gifts for all festivals, holi, dewali, rakshabandhan, valentineDay, eid, Christmas and All" />
<meta name="keywords" content="cake,chocolate,flower,delivery,kanpur,sameday,gifts,in,custom, printed,tshirts, mug,holi,deewali,eid,christmas,festivals,shopping,bouquet,painting,valentineDay" />
<meta name="rating" content="general" />
<meta name="copyright" content= "www.giftforkanpur.in" />
<meta name="revisit-after" content="10 Days" />
<meta name="expires" content="never">
<meta name="distribution" content="global" />
<meta name="robots" content="index" />

</head>
<body>

<%= yield %>

</body>
</html>
